# ENV
python-dotenv

# framework
flask
gcloud
protobuf==3.1.0 # fixed for pyrebase incompatability with python 2.7

# jwt support
python_jwt
pycrypto

# user
flask_user
rauth
pymongo

# form
flask_wtf
wtforms

# payment
stripe

# uploads
flask_uploads

# db
flask_sqlalchemy
psycopg2

# management
flask_admin
flask_s3

# sms, video
twilio

# firebase
pyrebase

# heroku
gunicorn

# geo parse
geopy

# cros support
flask-cors
