<!DOCTYPE html>
<HEAD>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</HEAD>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_all')}}">
    {% from "macro/bootstrap/components/_form.html" import fieldset %}
    {{ fieldset(form, title='Upload All') }}
</form>

<div>
  <div>Static link test: the following should be a s3 link</div>
  <div>{{ url_for('static', filename='filename')}}</div>
</div>
